.header {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 106px;

    ul {
        display: flex;
        gap: 40px;
    }

    a {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: -0.02em;
        color: black;
        &:hover {
            color: #a78bfa;
        }
    }
    
    .active {
    
        font-weight: 700;
        font-size: 20px;
        letter-spacing: -0.02em;
        color: #71A894;
    }

}